# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    groups:
      test-lint-minor-patch:
        patterns:
          - 'vitest'
          - 'playwright*'
          - '@playwright/*'
          - '*eslint*'
          - 'globals'
          - 'types/*'
          - '@types/*'
          - 'typescript*'
          - 'prettier'
          - 'zod'
          - '@rollup/*'
        update-types:
          - 'minor'
          - 'patch'
      ts-nuxt-minor:
        patterns:
          - 'typescript'
          - 'nuxt*'
          - 'vue*'
          - '*quasar*'
          - 'sass'
        update-types:
          - 'minor'
      ts-nuxt-patch:
        patterns:
          - 'typescript'
          - 'nuxt*'
          - 'vue*'
          - '*quasar*'
          - 'sass'
        update-types:
          - 'patch'
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    groups:
      github-actions:
        patterns:
          - 'actions/*'
