name: PR Test

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "20"
      - run: npm ci
      - run: npx nuxt build
      - run: npm run lint .
      - run: npm run test
      - name: Install Playwright browsers
        if: github.actor != 'dependabot[bot]'
        run: npx playwright install --with-deps
      - name: Run E2E tests
        if: github.actor != 'dependabot[bot]'
        run: npm run e2eall
        env:
          SUPABASE_URL: ${{ vars.SUPABASE_URL }}
          SUPABASE_KEY: ${{ vars.SUPABASE_KEY }}
          SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
